<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/assets/style.css">
    <link rel="shortcut icon" href="https://dl.dropboxusercontent.com/s/0qq5anxliaopt8d/sun.ico" type="image/x-icon">
    <title>ASCII ART WEB</title>
</head>

<body>
    <center>
        <form action="/ascii-art" method="post">
            <a href="/">
                <h2>ASCII_ART GENERATOR</h2>
            </a>
            <textarea name="string" required maxlength="1000"
                placeholder="Enter your text to be generated">{{.Input}}</textarea>
            <select name="banner">
                <option value="standard" {{if eq .Banner "standard" }} selected {{end}}>Standard</option>
                <option value="shadow" {{if eq .Banner "shadow" }} selected {{end}}>Shadow</option>
                <option value="thinkertoy" {{if eq .Banner "thinkertoy" }} selected {{end}}>Thinkertoy</option>
            </select>
            <div class="export">
                <input type="radio" name="export" value="show" id="show" checked> Show it<br>
                <input type="radio" name="export" value="download" id="download"> Export as file<br>
            </div>
            <div>
                <input type="submit" value="Generate">
            </div>
        </form>

        {{if .Ascii_art}}
        <div id="result">
            <pre>{{.Ascii_art}}</pre>
        </div>
        {{end}}

        <a href="about">About</a>
    </center>
</body>

</html>